<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
</head>
<body>
    <form id="filter-form">
        <h2>Catergories</h2>
        <label for="min-price">Minimum Price:</label>
        <input type="number" id="min-price" name="minPrice" class="filter-input">
        
        <label for="max-price">Maximum Price:</label>
        <input type="number" id="max-price" name="maxPrice" class="filter-input">
        
        <button type="submit" class="button-54">Filter</button>
      </form>
</body>
</html>