<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <h1>Echo Chamber Vintage</h1>
       <% if(user.user_id){ %>
        <div class="nav-button-container">
        <form action ="/" method="GET">
          <button class="button-54" >Home</button>
        </form>
        <form action="/favourites" method="GET">
            <button class="button-54" >Favourites</button>
        </form>
        <form action="/messages" method="GET">
            <button class="button-54" >Messages</button>
        </form>
      </div>
      <% }else{ %>
       <p>Login</p>
       <form action="/" method="POST">
        <button class="button-54">Login</button>
        <input type="text" name="user_id">
       </form>

      <% } %>
    </nav>
  </header>
</body>
</html>

