<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/components.css" />
  <link rel="stylesheet" href="/styles/message_window.css" />

  <title>Chat with Seller</title>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="/scripts/message-history.js"></script>
  <script defer src="/scripts/send-message.js"></script>
</head>
<body>
  <%- include('partials/_header') %>
  <!-- <main>
<h1> Message Seller </h1>
    <div class="message-container">
      &nbsp;
    </div>
    <form action="" id="send-container">
      <input type="text" id="message-input">
      <button type="submit" class="send-button">Send</button>
    </form>
  </main> -->
  <main>
    <div class="message-window-container">
      <div>

        <h1> Message Seller </h1>
            <div class="message-container">
              &nbsp;
            </div>

      </div>

    <div id="send-container">
        <form action="" id="send-container">
          <textarea type="text" id="message-input"></textarea>
          <button type="submit" class="button-54">Send</button>
        </form>
      </div>
    </div>
      </main>
</body>
</html>
